:root {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;
}

body {
    background-color: var(--inf-grey4);
    color: var(--inf-white3);
    margin: 0;
    height: 100vh;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu";
}

.centered {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#time-display {
    text-align: center;
    font-size: 20pt;
    color: var(--inf-white3);
    width: max-content;
    min-width: 120px;
    padding: 0px 5px;
    margin-bottom: 2px;

    /* margin-bottom: 1px;
    background-color: var(--inf-grey5);
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: 0px 1px #00000088; */
}

#time-display:focus {
    outline: none;
    border-bottom: 2px solid var(--inf-blue1);
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#time-display:focus span {
    border-right: 1px solid var(--inf-white3);
    border-left: 1px solid transparent;
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

#main-display {
    margin-bottom: 10px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    user-select: none;
}

button.mat-icon {
    background-color: var(--inf-grey5);
    color: var(--inf-white3);
    border: black 1px solid;
    border-radius: 5px;
    font-size: 20pt;
    margin: 0px 5px;
    box-shadow: 0px 1px #00000088;
    width: 50px;
}

button.mat-icon:hover {
    background-color: var(--inf-grey4);
}